input {
  jdbc {
    jdbc_driver_library => "mysql-connector-java-5.1.36-bin.jar"
    jdbc_driver_class => "com.mysql.jdbc.Driver"
    jdbc_connection_string => "jdbc:mysql://localhost:3306/classicmodels"
    jdbc_user => "john"
    jdbc_password => ""
    schedule => "* * * * *"
    statement => "SELECT * FROM products"
  }
}
output { 
  elasticsearch { 
    host => localhost
  }
}
