{
  "databaseNameMapping": {
    "cost": "price",
    "animal": "item"
  },
  "indexName": "funnyIndex",
  "synonyms": [
    [
      "animal(a)",
      "animal"
    ],
    [
      "carnal",
      "animal"
    ],
    [
      "fleshly",
      "animal"
    ],
    [
      "sensual",
      "animal"
    ],
    [
      "animal",
      "animal"
    ],
    [
      "animate_being",
      "animal"
    ],
    [
      "beast",
      "animal"
    ],
    [
      "brute",
      "animal"
    ],
    [
      "creature",
      "animal"
    ],
    [
      "fauna",
      "animal"
    ],
    [
      "price",
      "price"
    ],
    [
      "Price",
      "price"
    ],
    [
      "Leontyne_Price",
      "price"
    ],
    [
      "Mary_Leontyne_Price",
      "price"
    ],
    [
      "cost",
      "price"
    ],
    [
      "toll",
      "price"
    ],
    [
      "terms",
      "price"
    ],
    [
      "damage",
      "price"
    ],
    [
      "monetary_value",
      "price"
    ]
  ],
  "keywords": {
    "cost": "price",
    "animal": "animal"
  }
}