input {
  jdbc {
    jdbc_driver_library => "sqlite-jdbc-3.8.10.1.jar"
    jdbc_driver_class => "org.sqlite.JDBC"
    jdbc_connection_string => "jdbc:sqlite:../../databases/groceries.sqlite"
    jdbc_user => "chucky"
    schedule => "* * * * *"
    statement => "SELECT * FROM Groceries"
  }
}
output { 
  elasticsearch { 
    hosts => ["localhost:9200"]
  }
}
