{
  "databaseNameMapping": {
    "first_name" : "item",
    "last_name" : "item",
    "company_name" : "item",
    "address" : "place",
    "city" : "place",
    "province" : "place",
    "phone1" : "phone",
    "email" : "email",
    "web" : "web"
  },
  "validResultTypes": [
    "EMAIL",
    "NAME",
    "CITY",
    "LOCATION",
    "PRICE",
    "EXISTS",
    "NONE"
  ],
  "synonyms" : [["name","first_name"],["last name","last_name"],
		["company name","company_name"],["address","address"],
		["province","province"],["phone","phone1"],
		["email","email"],["web","web"]],
  "keywords" : {"first_name":"name","last_name":"name", 
		"company_name":"name","address":"place",
		"city":"place","province":"place",
		"phone1":"phone","email":"email",
		"web":"web"},
  "indexName": "ca-500.csv"
}
