{
  "databaseNameMapping": {
    "aisleid": "place",
    "item": "item",
    "price": "price"
  },
  "synonyms" : [["aisle","aisleid"],["row","aisleid"],["cost","price"],["price","price"],["item","item"]],
  "keywords" : {"aisleid":"aisle","item":"item","price":"price"},	
  "indexName": "gTest.csv"
}
